@media only screen and (min-width:1500px) {

	.logo-txt-g {
		font-size: 30px;
	}

	.header-sec,.z-logo {
		height: auto;
	}




}
@media only screen and (min-width:1801px) {
	.login-sec {
		background-size: 77vh ,12% , auto;
	}

	

}
@media only screen and (max-width:767px) {
	.login-gd {
		font-size: 18px;
		padding-bottom: 10px;
	}
	.login-sub {
		font-size: 16px;
		margin: 15px auto;
	}
	.login-sec {
		/*background-size: 100vh ,12% , auto;*/
		background-size: cover !important;
	}
	.login-bx {
		margin-bottom: 20px;
	}
	.for-txt-g {
		margin-bottom: 15px;}
		.head-inner {
			flex-direction: column;
		}

		.header-sec {
			height: auto;
		}
		.logo-txt-g {
			margin-left: 0px;
			font-size: 17px;
			text-align: center;
			margin-bottom: 15px;
			font-weight: 800;
		}
		.hear-rt-inner {
			margin-bottom: 15px;
			justify-content: center;
		}
		.reqfor-hd {
			font-size: 19px;
		}
		.rq-form-sec .l-txt-bx,.l-txt-bx{
			max-width: 100%;
		}
		.prof-name {
			font-size: 16px;}
	
}
@media only screen and (min-width:768px) and (max-width:991px){

	.login-sec {
		background-size: 90vh ,12% , auto;
	}

	.label-txt {
 		font-size: 14px}
}
@media only screen and (max-width:991px){
.login-wrap {
    margin: 0px auto;
}

}
@media only screen and (max-width:1024px){
.reg-wrap{
	max-height: unset;
	overflow-y: unset;
	padding-right: unset;
	}
}
@media only screen  and (min-device-width: 1024px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {


}
@media only screen and (max-width:445px){
	.red-det-btn {
		margin-top: 20px;} 
}

@media only screen and (max-width: 991px) {

/*.col-lg-5.col-md-12.col-xs-12.col-sm-12.login-right.login-top{
        max-height: 100% !important;
   
}
*/

}

@media only screen and (max-width: 374px) {
  
.hav-txt-g {
    font-size: 13px !important;
}
}

@media only screen and (max-width: 767px){

.logo-txt-g {
    margin-left: 0px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 800;
}
}

@media only screen and (min-width:320px) and (max-width:599px){
	.content {
		flex-direction: column;
		align-items: center !important;
		margin-bottom: 2rem;
	}
	.cont-l, .cont-r {
		background: #E2EDFA;
		width: 130px;
		margin-top: 10px !important;
	}
	.left-card {
		line-height: 18px;
		font-size: 10px;
	}
	.txt{
		font-size: 14px;
	}
	.click{
		font-size: 8px;
	}
	
}
@media only screen and (min-width:600px) and (max-width:767px){

	.media{
		max-width: 740px;
	}
	.left-card {
		line-height: 18px;
		font-size: 10px;
	}
	.txt{
		font-size: 14px;
	}
	.click{
		font-size: 8px;
	}
	.user-img{
		width: 40px;
	}

}

@media only screen and (min-width:768px) and (max-width:991px){

	.media{
		max-width: 950px;
	}
	.left-card {
		line-height: 18px;
		font-size: 10px;
	}
	.txt{
		font-size: 18px;
	}
	.click{
		font-size: 10px;

	}	

}